﻿@model WebDangKyKHHT.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}

<style>
    .form-row .form-col {
        width: 30%;
        margin-right: 10px;
    }
</style>

<br />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <section id="wizard-p-0" role="tabpanel" aria-labelledby="wizard-h-0" class="body current" aria-hidden="false" style="">
            <h3>Thông tin Sinh Viên</h3>
            <br />
            <div class="form-row">
                <div class="form-col">
                    <label for="">
                        Email Trường <i class="zmdi zmdi-account-o"></i>
                    </label>
                    <div class="form-holder-3">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <div class="form-col">
                    <label for="">
                        Mật Khẩu <i class="zmdi zmdi-edit"></i>
                    </label>
                    <div class="form-holder">

                        <input disabled type="text" class="form-control" placeholder="***********">
                    </div>
                </div>
                <div class="form-col">
                    <label for="">
                        Mã Sinh Viên <i class="zmdi zmdi-edit"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <label for="">
                        Tên Sinh Viên <i class="zmdi zmdi-email"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.Ten)
                    </div>
                </div>
                <div class="form-col">
                    <label for="">
                        UserName <i class="zmdi zmdi-email"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-col">
                    <label for="">
                        Email đã xác nhận <i class="zmdi zmdi-smartphone-android"></i>
                    </label>
                    <div class="form-holder" ht>
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-col">
                    <label for="">
                        Ngày Sinh <i class="zmdi zmdi-calendar"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.NgaySinh)
                    </div>
                    <br />

                </div>
                <div class="form-col">
                    <label for="">
                        Số Điện Thoại <i class="zmdi zmdi-smartphone-android"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-col">
                    <label for="">
                        Số điên Thoại đã xác nhận <i class="zmdi zmdi-smartphone-android"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>

            </div>
            @*<div class="form-row">
                <div class="form-col">
                    <label for="">
                        Mã Số Sinh Viên <i class="zmdi zmdi-calendar"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.MSSV)
                    </div>

                </div>
                <div class="form-col">
                    <label for="">
                        Địa Chỉ <i class="zmdi zmdi-smartphone-android"></i>
                    </label>
                    <div class="form-holder">
                        @Html.DisplayFor(model => model.DiaChi)
                    </div>
                </div>

            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Quay lại", "Index")
                    }

                </div>
            </div>
        </section>

    </div>
}


<script src="~/js/jsphu/jquery-3.3.1.min.js"></script>

<!-- JQUERY STEP -->
<script src="~/js/jsphu/jquery.steps.js"></script>



<script src="~/js/jsphu/main.js"></script>