﻿@model WebDangKyKHHT.Models.Deadline

@{
    ViewBag.Title = "Details";  
    Layout = "~/Areas/Admin/Views/Shared/DKKHHTAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deadline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DangKy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
