﻿@model IEnumerable<WebDangKyKHHT.Models.MonHoc>

@{ ViewBag.Title = "Details"; }

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>CHI TIẾT ĐĂNG KÝ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table custom-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Tên môn học</th>
                            <th>Mã môn học</th>
                            <th>Số tín chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0, tstc = 0;}
                        @foreach (var row in Model)
                        {
                            tstc += (int)row.SoTinChi;
                            <tr>
                                <td>@(++stt)</td>
                                <td>@Html.Raw(row.TenMH)</td>
                                <td>@Html.Raw(row.MaMH)</td>
                                <td>@Html.Raw(row.SoTinChi)</td>
                            </tr>
                         }
                        <tr>
                            <td colspan="3">Tổng số tín chỉ</td>
                            <td>@Html.Raw(tstc)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>